# TM1 binary files
*.cub
*.dim
*.cho
*.tab

# TM1 metadata
*.sub
*.vue
*.xbv
*.blob
*.blb

# working files which shouldn't be in the data directory
*.csv
*.cma
*.xls
*.xlsb
*.xlsx
*.xlsm
*.pdf
*.doc
*.docx

# other text files
*.rux
*.log
*.debug
*.txt
